services:
  web:
    build: .
    ports:
      - "5001:5001"
    depends_on:
      - db
    environment:
      FLASK_DEBUG: 0
      APP_HOST: 0.0.0.0
      APP_PORT: 5001
      APP_DEBUG: "false"
      DATABASE_URL: mysql+pymysql://root:love29338615@db:3306/PJI
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: love29338615
      MYSQL_DB: PJI
    networks:
      - pji

  db:
    image: mysql:8.0
    command:
      --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: love29338615
      MYSQL_DATABASE: PJI
    ports:
      # - "3307:3306"
      - "3306:3306"
    # volumes:
    #   - mysql_data:/var/lib/mysql
    networks:
      - pji

# volumes:
#   mysql_data:

networks:
  pji:
