alembic==1.8.1
amqp==5.1.1
appnope==0.1.3
asttokens==2.1.0
async-timeout==4.0.3
autopep8==2.0.0
backcall==0.2.0
bcrypt==4.0.1
bidict==0.22.1
billiard==4.1.0
boolean==1.1.0
boolean-parser==0.1.4
Bootstrap-Flask==2.2.0
celery==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==2.2.0
comm==0.1.3
contourpy==1.0.5
cryptography==41.0.3
cycler==0.11.0
Cython==0.29.32
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.14
dnspython==2.2.1
dominate==2.7.0
email-validator==1.3.0
et-xmlfile==1.1.0
eventlet==0.33.2
executing==1.2.0
Flask==2.2.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Migrate==4.0.0
Flask-SocketIO==5.3.5
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
fonttools==4.38.0
func-timeout==4.3.5
greenlet==1.1.3.post0
idna==3.4
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==5.0.0
ipykernel==6.22.0
ipython==8.6.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.4
kombu==5.3.1
llvmlite==0.39.1
Mako==1.2.4
MarkupSafe==2.1.1
matplotlib==3.6.1
matplotlib-inline==0.1.6
migrate==0.3.8
mixed-naive-bayes==0.0.3
mlxtend==0.21.0
mpmath==1.2.1
mysqlclient==2.2.0
nest-asyncio==1.5.6
numba==0.56.4
numpy==1.23.4
openpyxl==3.0.10
packaging==21.3
pandas==1.5.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.2.0
plotly==5.10.0
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.12
pyeda==0.28.0
Pygments==2.13.0
PyJWT==2.8.0
PyMySQL==1.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-engineio==4.6.1
python-socketio==5.8.0
pytz==2022.5
pyzmq==25.0.2
redis==5.0.0
requests==2.31.0
scikit-learn==1.1.2
scipy==1.9.3
shap==0.41.0
six==1.16.0
slicer==0.0.7
SQLAlchemy==1.4.42
stack-data==0.6.0
sympy==1.11.1
tenacity==8.1.0
threadpoolctl==3.1.0
tomli==2.0.1
tornado==6.3.1
tqdm==4.64.1
traitlets==5.5.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
validators==0.20.0
vine==5.0.0
visitor==0.1.3
vonage==3.9.1
vonage-jwt==1.0.0
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.15.0
WTForms==3.0.1
xgboost==1.7.0
zipp==3.10.0
