<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Personal profile</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="static/assets/img/nycu_logo.png"  />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script data-search-pseudo-elements defer
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous">
    </script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Patient Table
                        </a>
                        <a class="nav-link" href="model_diagnosis?p_id={{name}}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Decision Path
                        </a>
                        <a class="nav-link" href="reactive_diagram">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Reactive Diagram
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    {{ username }}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                    <div class="container-xl px-4">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                                        Personal profile
                                    </h1>
                                    <div class="page-header-subtitle">Personal data and dashboard overview
                                    </div>
                                </div>
                                <div class="col-12 col-xl-auto mt-4">
                                    <div class="input-group input-group-joined border-0" style="width: 16.5rem">
                                        <span class="input-group-text"><i class="text-primary"
                                                data-feather="calendar"></i></span>
                                        <input class="form-control ps-0 pointer" id="litepickerRangePlugin"
                                            placeholder="Select date range..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container-xl px-4 mt-n10">
                    <div class="row">
                        <div class="col-xxl-4 col-xl-12 mb-4">
                            <div class="card h-100">
                                <!-- Profile picture card-->
                                <div class="card mb-4 mb-xl-0 h-100">
                                    <div class="card-header">Profile Picture</div>
                                    <div class="card-body text-center">
                                        <!-- Profile picture image-->
                                        <img class="img-account-profile rounded-circle mb-2"
                                            src="static/assets/img/profile-2.png" alt="" />
                                        <!-- Profile picture help block-->
                                        {% for i in u %}
                                        <h4 class="small">
                                            <p class="lh-lg">
                                                <div class="fs-2 text-body">Name: {{ i[3] }}
                                                </div>
                                                <div class="fs-2 text-body">Age: {{ i[15] }}
                                                </div>
                                                <div class="fs-2 text-body">Height(m): {{ i[16] }}
                                                </div>
                                                <div class="fs-2 text-body">Weight(kg): {{ i[17] }}
                                                </div>
                                                <div class="fs-2 text-body">ID: {{ i[0] }}
                                                </div>
                                            </p>
                                        </h4>                      
                                        {% endfor %}
                                        <!-- Profile picture upload button-->
                                        <!-- <button class="btn btn-primary" type="button">Upload new image</button> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 mb-4">
                            <div class="card card-header-actions h-100">
                                <div class="card mb-4 mb-xl-0 h-100">
                                    <div class="card-header">Model Result</div>
                                    <div class="card-body" style="display: flex; flex-direction: column; height: max-content;">
                                        <div style="flex: 3; display: flex; justify-content: center; align-items: center; font-weight: 600; font-size: 2rem;">
                                            <div>Result: {{ result }}
                                            </div>
                                        </div>
                                        <div style="flex: 2; display:flex; justify-content: center;">
                                            <button type="button" class="btn btn-secondary btn-lg editbtn" style="display: block; height: 3rem;"
                                            data-btn="1" data-itemId="{{ name }}">模型診斷</button>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 mb-4">
                            <div class="card card-header-actions h-100">
                                <div class="card-header">
                                    SHAP value
                                    <div class="dropdown no-caret">
                                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                            id="dropdownMenuButton" type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i class="text-gray-500"
                                                data-feather="more-vertical"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                            aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#!">
                                                <div class="dropdown-item-icon"><i class="text-gray-500"
                                                        data-feather="list"></i></div>
                                                Manage Tasks
                                            </a>
                                            <a class="dropdown-item" href="#!">
                                                <div class="dropdown-item-icon"><i class="text-gray-500"
                                                        data-feather="plus-circle"></i></div>
                                                Add New Task
                                            </a>
                                            <a class="dropdown-item" href="#!">
                                                <div class="dropdown-item-icon"><i class="text-gray-500"
                                                        data-feather="minus-circle"></i></div>
                                                Delete Tasks
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <img src="static/assets/img/summary_plot.png" width="400" height="455">
                                </div>
                            </div>
                        </div>
                    </div>
                    <style>
                        h4 > div {
                            margin-bottom: 1rem;
                        }
                    </style>
                    <div class="row">
                        <div class="mb-4">
                        <div class="card card-header-actions h-100">
                        <div class="card mb-4">
                            <div class="card-header">Feature Importance</div>
                            <div class="card-body">
                                <img src="static/assets/img/feature_importances.png" width="1296" height="576">
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xxl-4 col-xl-6 mb-4">
                            <div class="card card-header-actions h-100">
                                <div class="card mb-4 mb-xl-0 h-100">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        Biomedical features value
                                    </div>
                                    <div class="card-body">
                                        {% for i in u %}
                                        <h4 class="small">
                                            <div class="fs-3 text-body fw-bolder">Serum_WBC: {{ i[20] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Segment: {{ i[21] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">HGB: {{ i[22] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Platelet: {{ i[23] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">P_T: {{ i[24] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">APTT: {{ i[25] }}
                                            </div>
                                        </h4>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 mb-4">
                            <div class="card card-header-actions h-100">
                                <div class="card mb-4 mb-xl-0 h-100">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        Comorbidity & Operation-related features value
                                    </div>
                                    <div class="card-body">
                                        {% for i in u %}
                                        <h4 class="small">
                                            <div class="fs-3 text-body fw-bolder">Total_CCI: {{ i[51] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Total_elixhauser_groups_per_record: {{ i[83] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Primary_Revision_Native_Hip: {{ i[9] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">ASA: {{ i[11] }}
                                            </div>
                                        </h4>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 mb-4">
                            <div class="card card-header-actions h-100">
                                <div class="card mb-4 mb-xl-0 h-100">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        ICM-related features value
                                    </div>
                                    <div class="card-body">
                                        {% for i in u %}
                                        <h4 class="small">
                                            <div class="fs-3 text-body fw-bolder">Serum_CRP: {{ i[28] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Positive Histology: {{ i[32] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Synovial WBC: {{ i[33] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Synovial_Neutrophil: {{ i[34] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Positive_Culture: {{ i[47] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Pulurence: {{ i[49] }}
                                            </div>
                                            <div class="fs-3 text-body fw-bolder">Single_Positive_Culture: {{ i[50] }}
                                            </div>
                                        </h4>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        $(() => {
            $(document).on("click", ".editbtn", function () {
                console.log(this.getAttribute("data-itemId"));

                $.ajax({
                    type: "POST",
                    url: "/", //localhost Flask
                    data: JSON.stringify({
                        btnID: this.getAttribute("data-btn"),
                        patientID: this.getAttribute("data-itemId")
                    }),
                    contentType: "application/json",
                    success: function (data) {
                        window.location.href = data;
                    }
                });

                return false;
            });
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
    <script src="/static/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/assets/demo/chart-area-demo.js"></script>
    <script src="/static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/js/datatables-simple-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/js/datatables/datatables-simple-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
    <script src="/static/js/litepicker.js"></script>



</body>

<!-- </html>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>template value</title>
</head>

<body>
    <h1>Welcome {{ name }}</h1>
</body>

</html> -->