<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Reactive diagram</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="/static/css/style.css" rel="stylesheet" />
        <link href="/static/css/progress_bar.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="static/assets/img/nycu_logo.png"/>
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/d3js/3.5.17/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.4/dagre-d3.min.js" integrity="sha512-fdYLm4hXxJ/tPMptvdDDwuJme6jTgvoZ0g6pflEkyG9MqPejLspnCjkwX3bD69GFT2N/refZGjPr6b9RdoCyxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" defer src="/static/js/reactive_diagram_dp_draw.js"></script>
        <script type="text/javascript" defer src="/static/js/reactive_diagram_sim_rule.js"></script>
        <script type="text/javascript" defer src="/static/js/reactive_diagram_ini_val.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script type="text/javascript" defer src="/static/js/progress_bar.js"></script>
    </head>
    <body class="nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- Documentation Dropdown-->
                <li class="nav-item dropdown no-caret d-none d-md-block me-3">
                </li>
                <!-- Navbar Search Dropdown-->
                <!-- * * Note: * * Visible only below the lg breakpoint-->
                <li class="nav-item dropdown no-caret me-3 d-lg-none">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="searchDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="search"></i></a>
                    <!-- Dropdown - Search-->
                    <div class="dropdown-menu dropdown-menu-end p-3 shadow animated--fade-in-up" aria-labelledby="searchDropdown">
                        <form class="form-inline me-auto w-100">
                            <div class="input-group input-group-joined input-group-solid">
                                <input class="form-control pe-0" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                                <div class="input-group-text"><i data-feather="search"></i></div>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="static/assets/img/illustrations/profiles/profile-1.png" /></a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <img class="dropdown-user-img" src="static/assets/img/illustrations/profiles/profile-1.png" />
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">Valerie Luna</div>
                                <div class="dropdown-user-details-email">vluna@aol.com</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Patient Table
                            </a>
                            <a class="nav-link" href="model_diagnosis?p_id={{name}}" id="model_diagnosis_link" data-my-value={{name}}>
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Decision Path
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{user}}
                    </div>
                </nav>
            </div>
        
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                                            Reactive diagram
                                        </h1>
                                        <!-- <div class="page-header-subtitle">Example dashboard overview and content summary</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <!-- <div class="container-xl px-4 mt-n10"> -->
                    
                    <div class="container-fluid px-4 mt-n10">
                        <div class="row">
                            <!-- Tabbed dashboard card example-->
                            <div class="card mb-4">
                                <div class="card-header border-bottom">
                                    <!-- Dashboard card navigation-->
                                    <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                                        <li class="nav-item me-1"><a class="nav-link active" id="overview-pill" href="#overview" data-bs-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">Interactive Bar</a></li>
                                        <!-- <li class="nav-item"><a class="nav-link" id="activities-pill" href="#activities" data-bs-toggle="tab" role="tab" aria-controls="activities" aria-selected="false">Flow Chart</a></li> -->
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="dashboardNavContent">
                                        <!-- Dashboard Tab Pane 1-->
                                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-pill">
                                            <!-- <img src="static/assets/img/confusion_matrix.jpg" width="400" height="400"> -->
                                            <div style="display: flex; flex-direction: row;">
                                                <div style="flex: 1;">
                                                    <p>Input parameters:</p>
                                                    <form id="myForm" action="#" method="post">
                                                        <div>
                                                            <label for="age">Age (y)</label>
                                                            <input class="range_input input_arg" type="range" id="age" name="age" 
                                                                    min="0" max="100" value="50" step="1" list="tickmarks_1" style="width: 100%;">
                                                                    <datalist id="tickmarks_1">
                                                                        <option value="0" label="0%"></option>
                                                                        <option value="10"></option>
                                                                        <option value="20"></option>
                                                                        <option value="30"></option>
                                                                        <option value="40"></option>
                                                                        <option value="50" label="100%"></option>
                                                                        <option value="60"></option>
                                                                        <option value="70"></option>
                                                                        <option value="80"></option>
                                                                        <option value="90"></option>
                                                                        <option value="100" label="200%"></option>
                                                                    </datalist>
                                                            <span id="age_value"></span>
                                                        </div>
                                                        <div>
                                                            <label for="segment">Neutrophil segment (%)</label>
                                                            <input class="range_input input_arg" type="range" id="segment" name="segment"
                                                                    min="53" max="85" value="69" step="0.1" list="tickmarks_2" style="width: 100%;">
                                                                    <datalist id="tickmarks_2">
                                                                        <option value="53"></option>
                                                                        <option value="56.2"></option>
                                                                        <option value="59.4"></option>
                                                                        <option value="62.6"></option>
                                                                        <option value="65.8"></option>
                                                                        <option value="69"></option>
                                                                        <option value="72.2"></option>
                                                                        <option value="75.4"></option>
                                                                        <option value="78.6"></option>
                                                                        <option value="81.8"></option>
                                                                        <option value="85"></option>
                                                                    </datalist>
                                                            <span id="segment_value"></span>
                                                        </div>
                                                        <div>
                                                            <label for="HGB">Hb (g/dL)</label>
                                                            <input class="range_input input_arg" type="range" id="HGB" name="HGB" 
                                                                    min="8" max="16" value="12" step="0.1" list="tickmarks_3" style="width: 100%;">
                                                                    <datalist id="tickmarks_3">
                                                                        <option value="8"></option>
                                                                        <option value="8.8"></option>
                                                                        <option value="9.6"></option>
                                                                        <option value="10.4"></option>
                                                                        <option value="11.2"></option>
                                                                        <option value="12"></option>
                                                                        <option value="12.8"></option>
                                                                        <option value="13.6"></option>
                                                                        <option value="14.4"></option>
                                                                        <option value="15.2"></option>
                                                                        <option value="16"></option>
                                                                    </datalist>
                                                            <span id="HGB_value"></span>
                                                        </div>

                                                        <div>
                                                            <label for="PLATELET">PLATELET(1000/mL)</label>
                                                            <input class="range_input input_arg" type="range" id="PLATELET" name="PLATELET" 
                                                                    min="150" max="450" value="300" step="1" list="tickmarks_4" style="width: 100%;">
                                                                    <datalist id="tickmarks_4">
                                                                        <option value="150"></option>
                                                                        <option value="180"></option>
                                                                        <option value="210"></option>
                                                                        <option value="240"></option>
                                                                        <option value="270"></option>
                                                                        <option value="300"></option>
                                                                        <option value="330"></option>
                                                                        <option value="360"></option>
                                                                        <option value="390"></option>
                                                                        <option value="420"></option>
                                                                        <option value="450"></option>
                                                                    </datalist>
                                                            <span id="PLATELET_value"></span>
                                                        </div>

                                                        <div>
                                                            <label for="Serum_WBC">Serum WBC (1000/mL)</label>
                                                            <input class="range_input input_arg" type="range" id="Serum_WBC" name="Serum_WBC" 
                                                                    min="4" max="16" value="10" step="0.1" list="tickmarks_5" style="width: 100%;">
                                                                    <datalist id="tickmarks_5">
                                                                        <option value="4"></option>
                                                                        <option value="5.2"></option>
                                                                        <option value="6.4"></option>
                                                                        <option value="7.6"></option>
                                                                        <option value="8.8"></option>
                                                                        <option value="10"></option>
                                                                        <option value="11.2"></option>
                                                                        <option value="12.4"></option>
                                                                        <option value="13.6"></option>
                                                                        <option value="14.8"></option>
                                                                        <option value="16"></option>
                                                                    </datalist>
                                                            <span id="Serum_WBC_value"></span>
                                                        </div>

                                                        <div>
                                                            <label for="P.T">PT (s)</label>
                                                            <input class="range_input input_arg" type="range" id="P_T" name="P.T" 
                                                                    min="8" max="16" value="12" step="0.1" list="tickmarks_6" style="width: 100%;">
                                                                    <datalist id="tickmarks_6">
                                                                        <option value="8"></option>
                                                                        <option value="8.8"></option>
                                                                        <option value="9.6"></option>
                                                                        <option value="10.4"></option>
                                                                        <option value="11.2"></option>
                                                                        <option value="12"></option>
                                                                        <option value="12.8"></option>
                                                                        <option value="13.6"></option>
                                                                        <option value="14.4"></option>
                                                                        <option value="15.2"></option>
                                                                        <option value="16"></option>
                                                                    </datalist>
                                                            <span id="P_T_value"></span>
                                                        </div>

                                                        <div>
                                                            <label for="APTT">APTT (s)</label>
                                                            <input class="range_input input_arg" type="range" id="APTT" name="APTT" 
                                                                    min="20" max="40" value="30" step="1" list="tickmarks_7" style="width: 100%;">
                                                                    <datalist id="tickmarks_7">
                                                                        <option value="20"></option>
                                                                        <option value="22"></option>
                                                                        <option value="24"></option>
                                                                        <option value="26"></option>
                                                                        <option value="28"></option>
                                                                        <option value="30"></option>
                                                                        <option value="32"></option>
                                                                        <option value="34"></option>
                                                                        <option value="36"></option>
                                                                        <option value="38"></option>
                                                                        <option value="40"></option>
                                                                    </datalist>
                                                            <span id="APTT_value"></span>
                                                        </div>

                                                        <div>
                                                            <label for="CCI">Charlson Comorbidity Index</label>
                                                            <input class="range_input input_arg" type="range" id="CCI" name="CCI" 
                                                                    min="0" max="1.6" value="0.8" step="0.01" list="tickmarks_8" style="width: 100%;">
                                                                    <datalist id="tickmarks_8">
                                                                        <option value="0"></option>
                                                                        <option value="0.16"></option>
                                                                        <option value="0.32"></option>
                                                                        <option value="0.48"></option>
                                                                        <option value="0.64"></option>
                                                                        <option value="0.8"></option>
                                                                        <option value="0.96"></option>
                                                                        <option value="1.12"></option>
                                                                        <option value="1.28"></option>
                                                                        <option value="1.44"></option>
                                                                        <option value="1.6"></option>
                                                                    </datalist>
                                                            <span id="CCI_value"></span>
                                                        </div>

                                                        <div>
                                                            <label for="Elixhauser">Elixhauser Comorbidity Index</label>
                                                            <input class="range_input input_arg" type="range" id="Elixhauser" name="Elixhauser" 
                                                                    min="0" max="2" value="1" step="0.1" list="tickmarks_9" style="width: 100%;">
                                                                    <datalist id="tickmarks_9">
                                                                        <option value="0"></option>
                                                                        <option value="0.2"></option>
                                                                        <option value="0.4"></option>
                                                                        <option value="0.6"></option>
                                                                        <option value="0.8"></option>
                                                                        <option value="1"></option>
                                                                        <option value="1.2"></option>
                                                                        <option value="1.4"></option>
                                                                        <option value="1.6"></option>
                                                                        <option value="1.8"></option>
                                                                        <option value="2"></option>
                                                                    </datalist>
                                                            <span id="Elixhauser_value"></span>
                                                        </div>

                                                        <div>
                                                            <!-- <input class="range_input input_arg" type="range" id="Rivision" name="Rivision" 
                                                                    min="0" max="1" value="0" step="1"> -->
                                                            <label for="Revision">Revision</label>
                                                            <input class="input_arg" type="radio" id="Revision_0" name="Revision" value="0"
                                                                    checked>
                                                            <label for="Revision_0">0</label>
                                                            <input class="input_arg" type="radio" id="Revision_1" name="Revision" value="1">                                        
                                                            <label for="Revision_1">1</label>
                                                        </div>

                                                        <div>
                                                            <label for="ASA_2">ASA</label>
                                                            <!-- <input class="range_input input_arg" type="range" id="ASA_2" name="ASA_2" 
                                                                    min="0" max="1" value="0" step="1"> -->
                                                            <input class="input_arg" type="radio" id="ASA_2_0" name="ASA_2" value="0"
                                                                    checked>
                                                            <label for="ASA_2_0">0</label>
                                                            <input class="input_arg" type="radio" id="ASA_2_1" name="ASA_2" value="1">                                        
                                                            <label for="ASA_2_1">1</label>
                                                        </div>

                                                        <div>
                                                            <!-- <input class="range_input input_arg" type="range" id="positive_culture" name="positive_culture" 
                                                                    min="0" max="1" value="0" step="1"> -->
                                                            <label for="positive_culture">Two positive culture</label>
                                                            <input class="input_arg" type="radio" id="positive_culture_0" name="positive_culture" value="0"
                                                                    checked>
                                                            <label for="positive_culture_0">0</label>
                                                            <input class="input_arg" type="radio" id="positive_culture_1" name="positive_culture" value="1">                                        
                                                            <label for="positive_culture_1">1</label>
                                                        </div>

                                                        <div>
                                                            <label for="Serum_CRP">Serum CRP (mg/L)</label>
                                                            <input class="range_input input_arg" type="range" id="Serum_CRP" name="Serum_CRP" 
                                                                    min="0" max="320" value="160" step="1" list="tickmarks_10" style="width: 100%;">
                                                                    <datalist id="tickmarks_10">
                                                                        <option value="0"></option>
                                                                        <option value="32"></option>
                                                                        <option value="64"></option>
                                                                        <option value="96"></option>
                                                                        <option value="128"></option>
                                                                        <option value="160"></option>
                                                                        <option value="192"></option>
                                                                        <option value="224"></option>
                                                                        <option value="256"></option>
                                                                        <option value="288"></option>
                                                                        <option value="320"></option>
                                                                    </datalist>
                                                            <span id="Serum_CRP_value"></span>
                                                        </div>

                                                        <div>
                                                            <label for="Serum_ESR">Serum ESR (mm/h)</label>
                                                            <input class="range_input input_arg" type="range" id="Serum_ESR" name="Serum_ESR" 
                                                                    min="0" max="110" value="55" step="1" list="tickmarks_11" style="width: 100%;">
                                                                    <datalist id="tickmarks_11">
                                                                        <option value="0"></option>
                                                                        <option value="11"></option>
                                                                        <option value="22"></option>
                                                                        <option value="33"></option>
                                                                        <option value="44"></option>
                                                                        <option value="55"></option>
                                                                        <option value="66"></option>
                                                                        <option value="77"></option>
                                                                        <option value="88"></option>
                                                                        <option value="99"></option>
                                                                        <option value="110"></option>
                                                                    </datalist>
                                                            <span id="Serum_ESR_value"></span>
                                                        </div>

                                                        <div>
                                                            <label for="Synovial_WBC">Synovial WBC (mL)</label>
                                                            <input class="range_input input_arg" type="range" id="Synovial_WBC" name="Synovial_WBC" 
                                                                    min="0" max="170000" value="85000" step="1" list="tickmarks_12" style="width: 100%;">
                                                                    <datalist id="tickmarks_12">
                                                                        <option value="0"></option>
                                                                        <option value="17000"></option>
                                                                        <option value="34000"></option>
                                                                        <option value="51000"></option>
                                                                        <option value="68000"></option>
                                                                        <option value="85000"></option>
                                                                        <option value="102000"></option>
                                                                        <option value="119000"></option>
                                                                        <option value="136000"></option>
                                                                        <option value="153000"></option>
                                                                        <option value="170000"></option>
                                                                    </datalist>
                                                            <span id="Synovial_WBC_value"></span>
                                                        </div>
                                                        <div>
                                                            <!-- <input class="range_input input_arg" type="range" id="Single_Positive_culture" name="Single_Positive_culture" 
                                                                    min="0" max="1" value="0" step="1"> -->
                                                            <label for="Single_Positive_culture">Single positive culture</label>
                                                            <input class="input_arg" type="radio" id="Single_Positive_culture_0" name="Single_Positive_culture" value="0"
                                                                    checked>
                                                            <label for="Single_Positive_culture_0">0</label>
                                                            <input class="input_arg" type="radio" id="Single_Positive_culture_1" name="Single_Positive_culture" value="1">                                        
                                                            <label for="Single_Positive_culture_1">1</label>
                                                        </div>
                                                        <div>
                                                            <label for="Synovial_PMN">Synovial PMN (%)</label>
                                                            <input class="range_input input_arg" type="range" id="Synovial_PMN" name="Synovial_PMN" 
                                                                    min="0" max="100" value="100" step="1" list="tickmarks_13" style="width: 100%;">
                                                                    <datalist id="tickmarks_13">
                                                                        <option value="0"></option>
                                                                        <option value="10"></option>
                                                                        <option value="20"></option>
                                                                        <option value="30"></option>
                                                                        <option value="40"></option>
                                                                        <option value="50"></option>
                                                                        <option value="60"></option>
                                                                        <option value="70"></option>
                                                                        <option value="80"></option>
                                                                        <option value="90"></option>
                                                                        <option value="100"></option>
                                                                    </datalist>
                                                            <span id="Synovial_PMN_value"></span>
                                                        </div>
                                                        <div>
                                                            <!-- <input class="range_input input_arg" type="range" id="Positive_Histology" name="Positive_Histology" 
                                                                    min="0" max="1" value="0" step="1"> -->
                                                            <label for="Positive_Histology">Positive histology </label>
                                                            <input class="input_arg" type="radio" id="Positive_Histology_0" name="Positive_Histology" value="0"
                                                                    checked>
                                                            <label for="Positive_Histology_0">0</label>
                                                            <input class="input_arg" type="radio" id="Positive_Histology_1" name="Positive_Histology" value="1">                                        
                                                            <label for="Positive_Histology_1">1</label>
                                                        </div>
                                                        <div>
                                                            <!-- <input class="range_input input_arg" type="range" id="Purulence" name="Purulence" 
                                                                    min="0" max="1" value="0" step="1"> -->
                                                            <label for="Purulence">Intraoperative purulence</label>
                                                            <input class="input_arg" type="radio" id="Purulence_0" name="Purulence" value="0"
                                                                checked>
                                                            <label for="Purulence_0">0</label>
                                                            <input class="input_arg" type="radio" id="Purulence_1" name="Purulence" value="1" >                                        
                                                            <label for="Purulence_1">1</label>
                                                        </div>
                                                        
                                                        <div>
                                                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                                                            <button type="button" class="btn btn-primary" id="reactived_submit">Submit</button>
                                                            
                                                        </div>
                                                        
                                                    </form>
                                                </div>
                                                
                                                <div class="container-xl px-4">
                                                    <!-- <div class="card-body" id="reactive_diagram_box"></div> -->
                                                    <!-- Knowledge base article-->
                                                    <div class="card mb-4">
                                                        <div style="flex: 1; font-size: 2rem; font-weight: 600;" class="card-body">
                                                            <div >
                                                                <label for="progress-bar" id="progress_bar_text" style="flex: 1; font-size: 1.5rem; font-weight: 800;">Task Progress: Finish</label>
                                                                <progress id="progress-bar" value="100" max="100"></progress>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card mb-4">
                                                        <div style="flex: 1; font-size: 2rem; font-weight: 600;" class="card-body">
                                                            <label for="Result" style="flex: 1; font-size: 2rem; font-weight: 600;" id="result_text">Result: </label>
                                                            {{ result }}
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="card mb-4">
                                                        <div class="card-header d-flex align-items-center">
                                                            <!-- <a class="btn btn-transparent-dark btn-icon" href="knowledge-base-category.html"><i data-feather="arrow-left"></i></a> -->
                                                            <div class="ms-3"><h2 class="my-3">Diagnosis result</h2></div>
                                                        </div>
                                                        <div class="card-header d-flex align-items-center">
                                                            <div class="card-body" id="diagnosis_box_reactive"></div>                          
                                                        </div>
                                                    </div>

                                                    <div class="card mb-4">
                                                        
                                                        <div class="card-header d-flex align-items-center">
                                                            <!-- <a class="btn btn-transparent-dark btn-icon" href="knowledge-base-category.html"><i data-feather="arrow-left"></i></a> -->
                                                            <div class="ms-3"><h2 class="my-3">Simplified decision path</h2></div>
                                                        </div>
                            
                                                        <div id="diagnosis_simplified_result" class="card-body">
                                                            <!-- <p>(Age <= 89.0 & Positive_Histology == True) | (Positive_Histology == True & Segment <= 70.0 & Serum_ESR <= 70.5 & Total_Elixhauser_Groups_per_record > 0.5)</p> -->
                                                        </div>  

                                                    </div>
                                                    <div class="card mb-4">
                                                        <div class="card-body" id="reactive_diagram_box">
                                                            <div class="ms-3"><h2 class="my-3">Flow Chart:</h2></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                            </div>
                                        </div>
                                        <!-- Dashboard Tab Pane 2 -->
                                        <!-- <div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities-pill">
                                            <div class="container-xl px-4">
                                                <div class="card mb-4">
                                                    <div class="card-body" id="reactive_diagram_box"></div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>    
                                </div>
                            </div>
                        </div>
                            
                            <!-- Illustration dashboard card example-->
                            <div class="row">
                                <div class="col-xl-6 mb-4">
                                </div>
                                <div class="col-xl-6 mb-4">
                                </div>
                            </div>
                            
                            <div class="col-xxl-4">
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-12">
                                    </div>
                                    <div class="col-xl-6 col-xxl-12">
                                        <!-- Project tracker card example-->
                                    </div>
                                </div>
                                <!-- Illustration dashboard card example-->
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer-admin mt-auto footer-light">
                    <div class="container-xl px-4">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2022</div>
                            <div class="col-md-6 text-md-end small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- <script type="text/javascript">
            // 使用內建的 alert 函數
            alert("模型處理已完成");
          </script>
        <script> -->
            const user_data_json = JSON.parse('{{ user_data_json | tojson }}');
        </script>
        {% if reactive_rule_json is defined %}
        <script>
            console.log("running");
            const reactive_rule_json = JSON.parse('{{ reactive_rule_json | tojson }}');
            const reactive_rule_map_json = JSON.parse('{{ reactive_rule_map_json | tojson }}');
            const result = '{{ result }}'
            const result_xgb = '{{ result_xgb }}'
            const result_rf = '{{ result_rf }}'
            const result_nb = '{{ result_nb }}'
            const result_lr = '{{ result_lr }}'
            const predict_data = '{{ predict_data }}'
            console.log("running2");
            const reactive_decision_list_json = JSON.parse('{{ reactive_decision_list_json | tojson }}');
            const reactive_decision_list_map_json = JSON.parse('{{ reactive_decision_list_map_json | tojson }}');
            const reactived_data_json = JSON.parse('{{ reactived_data_json | tojson }}');
        </script>
        {% endif %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/static/assets/demo/chart-area-demo.js"></script>
        <script src="/static/assets/demo/chart-pie-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/static/js/datatables/datatables-simple-demo.js"></script>
        <script defer src="/static/js/reactive_diagram.js"></script>

    </body>
</html>
